<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>web scraper</title>
</head>
<body>
    
    <main>
        <div class="container">
            <h1>Scraping des données de Pols Poten</h1>
            <h2>Entrez le(s) nom(s) du/des produit(s)</h2>
            <div class="search-box">
                <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
                <form action="/sendData" method="post">
                    <input type="text" placeholder="Search" id="search" name="ref" autocomplete="off">
                    <button type="submit" class="go-icon">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </form>
                <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
                 xml:space="preserve">
                <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
                <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
                </svg>
                
            </div>
    
        </div>
    </main>
    <script>
        $(document).ready(function(){
            $("#search").focus(function() {
              $(".search-box").addClass("border-searching");
              $(".search-icon").addClass("si-rotate");
            });
            $("#search").blur(function() {
              $(".search-box").removeClass("border-searching");
              $(".search-icon").removeClass("si-rotate");
            });
            $("#search").keyup(function() {
                if($(this).val().length > 0) {
                  $(".go-icon").addClass("go-in");
                }
                else {
                  $(".go-icon").removeClass("go-in");
                }
            });
            $(".go-icon").click(function(){
              $(".search-form").submit();
            });
        });
        
    </script>
</body>
</html>